<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/small.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>
<div id="render">
    <div id="radiant">
        <div id="radiantTitle" class="$(radiant_win) side title">
            <div class="child">
                Radiant<span class="victory"> Victory</span><br>$(radiant_score)
            </div>
        </div>
        <div id="radiantHeroes" class="small hero list">
            <div class="small hero $(class_hero_0)" src="../heroes/lg/$(hero_name_0).png">
                <img class="small hero  $(class_hero_0)" src="../heroes/lg/$(hero_name_0).png">
                $(kills_player_0)/$(deaths_player_0)/$(assists_player_0)
            </div>
            <div class="small hero $(class_hero_1)" src="../heroes/lg/$(hero_name_1).png">
                <img class="small hero  $(class_hero_1)" src="../heroes/lg/$(hero_name_1).png">
                $(kills_player_1)/$(deaths_player_1)/$(assists_player_1)
            </div>
            <div class="small hero $(class_hero_2)" src="../heroes/lg/$(hero_name_2).png">
                <img class="small hero  $(class_hero_2)" src="../heroes/lg/$(hero_name_2).png">
                $(kills_player_2)/$(deaths_player_2)/$(assists_player_2)
            </div>
            <div class="small hero $(class_hero_3)" src="../heroes/lg/$(hero_name_3).png">
                <img class="small hero  $(class_hero_3)" src="../heroes/lg/$(hero_name_3).png">
                $(kills_player_3)/$(deaths_player_3)/$(assists_player_3)
            </div>
            <div class="small hero $(class_hero_4)" src="../heroes/lg/$(hero_name_4).png">
                <img class="small hero  $(class_hero_4)" src="../heroes/lg/$(hero_name_4).png">
                $(kills_player_4)/$(deaths_player_4)/$(assists_player_4)
            </div>
        </div>
    </div>
    <div id="dire">
        <div id="direTitle" class="$(dire_win) side title">
            <div class="child">
                Dire<span class="victory"> Victory</span><br>$(dire_score)
            </div>
        </div>
        <div id="direHeroes" class="small hero list">
            <div class="small hero $(class_hero_5)" src="../heroes/lg/$(hero_name_5).png">
                <img class="small hero  $(class_hero_5)" src="../heroes/lg/$(hero_name_5).png">
                $(kills_player_5)/$(deaths_player_5)/$(assists_player_5)
            </div>
            <div class="small hero $(class_hero_6)" src="../heroes/lg/$(hero_name_6).png">
                <img class="small hero  $(class_hero_6)" src="../heroes/lg/$(hero_name_6).png">
                $(kills_player_6)/$(deaths_player_6)/$(assists_player_6)
            </div>
            <div class="small hero $(class_hero_7)" src="../heroes/lg/$(hero_name_7).png">
                <img class="small hero  $(class_hero_7)" src="../heroes/lg/$(hero_name_7).png">
                $(kills_player_7)/$(deaths_player_7)/$(assists_player_7)
            </div>
            <div class="small hero $(class_hero_8)" src="../heroes/lg/$(hero_name_8).png">
                <img class="small hero  $(class_hero_8)" src="../heroes/lg/$(hero_name_8).png">
                $(kills_player_8)/$(deaths_player_8)/$(assists_player_8)
            </div>
            <div class="small hero $(class_hero_9)" src="../heroes/lg/$(hero_name_9).png">
                <img class="small hero  $(class_hero_9)" src="../heroes/lg/$(hero_name_9).png">
                $(kills_player_9)/$(deaths_player_9)/$(assists_player_9)
            </div>
        </div>
    </div>
    <div id="time">
        <div class="child">
            $(match_length)
        </div>
    </div>
</div>
</body>
</html>